<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>{% block title %}Chat{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/chat.css">
    
    <link href="/static/css/bootstrap-spacelab.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    
    {% block extra_css %}{% endblock %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        var showForm = function() {
            $('form').slideDown(function() {
                $('form input[type="text"]').focus();
            });
        };
    </script>
    {% block extra_js %}{% endblock %}

	<style>
		ul {margin:0; padding:0; list-style-type:none;}
	</style>
</head>
<body>
    <div id="main">{% block main %}{% endblock %}</div>
    {% block form %}{% endblock %}
</body>
