{% extends "base.html" %}

{% block extra_js %}
<script>$(showForm);</script>
{% endblock %}

{% block main %}
<ul>
{% for room in rooms %}
    <li><a href="{{ room.get_absolute_url }}">{{ room }}</a></li>
{% empty %}
<p>There are currently no rooms! Add one below.</p>
{% endfor %}
</ul>
<br clear="all">
{% endblock %}

{% block form %}
<form method="post" action="{% url create %}">
    <input type="text" id="name" name="name">
    <input type="submit" id="submit" value="Add Room">
    {% csrf_token %}
</form>
{% endblock %}
