<link rel='stylesheet' type='text/css' href='/static/css/khanapi/tree-skin/ui.dynatree.css'>
<div id="topic-tree"></div>
<script src='/static/js/jquery.min.js' type='text/javascript'></script>
<script src='/static/js/jquery-ui.custom.min.js' type='text/javascript'></script>
<script src='/static/js/jquery.cookie.js' type='text/javascript'></script>
<script type="text/javascript" src='/static/js/khanapi/jquery.dynatree.min.js' ></script>
<!-- Add code to initialize the tree when the document is loaded: -->
<script type="text/javascript">
    $(function() {
        $("#topic-tree").dynatree({
            onActivate : function(node) {
                // A DynaTreeNode object is passed to the activation handler
                // Note: we also get this event, if persistence is on, and the page is reloaded.
                // alert("You activated " + node.data.title);
            },
            // persist : true,
            children : [// Pass an array of nodes.
                {% for topic in topic_tree_json %}
                {
                    title : "{{topic.name}}",
                    isFolder : true,
                    {% if topic.items %}
                    children : [
                    {% for subtopic in topic.items %} 
                    {
                        title : '{{subtopic.name}}'
                    },
                    {% endfor %}
                    ]
                    {% endif %}
                },
                {% endfor %}   
                {
                    title : ""
                }  
            ]
        });
    });

</script>