{% extends "base.html" %}

{% block title %}{{ room }}{% endblock %}

{% block extra_js %}


    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.tmpl.min.js"></script>
    {% load socketio_tags %}
    {% socketio %}
    
    <script>
    var current_user_name = '';
    {% if user.is_active %}
    current_user_name = '{{user}}';
    {% endif %}
    
    var current_socket; 
    </script>
    
    <script src="{{ STATIC_URL }}js/chat.js"></script>  

<script>window.room = {{ room.id }};</script>
{% endblock %}

{% block main %}
<ul id="messages">
    <script type="text/x-jquery-tmpl"><li class="${action}">(${time}) ${name}: ${message}</li></script>
</ul>
<ul id="users" class="well">
    <script type="text/x-jquery-tmpl"><li id="user-${id}">${name}</li></script>
</ul>
{% endblock %}

{% block form %}
<form class="well form-search">
    <input type="text" id="message" name="message">
    <input type="submit" id="submit" value="Join" class="btn btn-info btn-mini">
    <input type="button" id="leave" value="Leave" class="btn btn-inverse btn-mini">
</form>

{% endblock %}
