                <table class="table table-striped table-condensed">
                    <thead>
                        <th>Challenge Name</th>
                        <th>Teams Participating</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="btn btn-primary" 
                                    data-toggle="modal"
                                    data-target="#new-challenge">
                                    Create Challenge
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% for challenge in challenges.all %}
                        <tr>
                            <td>{{ challenge }}</td>
                            <td>X Groups</td>
                            <td><a href="">Enlist in this Challenge</a></td>
                            <td><a href="">Invite Groups to this challenge</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>