.hide{
	display: none;
}

#create-class-row {
	height:40px;
}

input#id_class_name {
	margin-top:9px;
}

#class-list td.classname {
	width:400px;
	max-width:400px;
}

#new-challenge div.modal-body {
max-height: none;  
}

#main-container {
    margin:10px;
    padding-top: 60px;
}
