
							<script type="text/javascript" src="/static/js/jquery.min.js"></script>
							<link href="/static/js/chosen/chosen.css" rel="stylesheet">
							<script type="text/javascript" src="/static/js/chosen/chosen.jquery.min.js"></script>
							<select id="selected-teams" data-placeholder="Select Something" 
								multiple class="chzn-select" style="width:350px;" tabindex="4">
							{% for team in teams.all %}
		                        <option value="{{ team.id }}">{{ team }}</option>
		                    {% endfor %}
							</select>
							
							<script type="text/javascript">
								$("#selected-teams").trigger("liszt:updated");
							</script>
