{% if not khan_user_active %}
    <h3><small>You are currently not associated with a Khan User Id</small></h3>
{% endif %}


{% if khan_user_active %}
    <h3>My Badges</h3>

    <table class="table table-striped table-condensed">
        <tbody>
            {% for badge in khan_badges %}
                {% if badge.is_owned and badge.points > 0 %}
                    {% for user_badge in badge.user_badges %}
                        {% if user_badge.user == khan_user.user_id %}
                        <tr>
                            <td></td>
                            <td>{{ badge.description }}</td>
                            <td>{{ badge.points }} points</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </table>

{% endif %}
