<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/knet.css">
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        
        <script type="text/javascript" src="{{STATIC_URL}}js/knet.form.util.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/knet.js"></script>     
    
        <link href="{{STATIC_URL}}js/chosen/chosen.css" rel="stylesheet">
        <script type="text/javascript" src="{{STATIC_URL}}js/chosen/chosen.jquery.min.js"></script>
        
        

        
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
        
        <script type="text/javascript">
            function toggleCollapse(collapseId) {
                $('#'+collapseId).collapse('toggle');
            }
        </script>
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">K Network</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% if user.is_active %}
              <li class="active"><a href="/{{ user }}/homeroom">Home</a></li>
              {% endif %}
              <li><a href="/about">About</a></li>
              <li><a href="/team">Our Team</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="mailto:info@theknetwork.org">Contact</a></li>
            </ul>
            
            {% if not user.is_active %}
            <p class="navbar-text pull-right">
            	<a href="{% url acct_login %}">Login</a> | 
            	<a href="{% url acct_signup %}">Register</a>
			</p>	    
			{% endif %}
            
            {% if user.is_active %}
            <p class="navbar-text pull-right">Logged in as <a href="{% url acct_email %}">{{ user }}</a> | 
                <a href="{% url acct_logout %}">Logout</a></p>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> 
        
<!-- ..... -->

        {% block body_base %}
            <div id="main-container" class="container-fluid">
                <div class="span6 offset3">
                    {% if messages %}
                        <div class="alert">
                            {% for msg in messages %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                {% block body %}
                {% endblock %}
            </div>
        {% endblock %}
        
        {% block footer_base %}
            <div id="footer">
                <div class="inner">
                    <div class="container-fluid">
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
        <div style="width: 100%; height: 24px; position: fixed; bottom: 0; background-color: #000; z-index: 100">
            <div style="height: 2px">
                <table width="100%" height="2px"><tr>
                    <td height"2px" width="30%" style="background-color:#f89406"></td>
                    <td height"2px" width="40%" style="background-color:#3299c9"></td>
                    <td height"2px" width="30%" style="background-color:#85e55b"></td>
                </tr></table>
            </div>
            
            <table width="100%" height="2px"><tr>
                <td height"2px" width="30%"></td>
                <td height"2px" width="40%" align="center"><h6>&copy; 2012 The K-Network</h6></td>
                <td height"2px" width="30%"></td>
            </tr></table>
        </div>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-alerts.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-twipsy.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-tabs.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-buttons.js"></script>
        {% block js %}{% endblock %}
    </body>
    
</html>
