{% extends "default_layout.html" %}

{% block content %}

<a class="btn btn-small btn-primary" href="/class/session">Join a Live Classroom Session!</a><p/><p/>

{% if messages %}
    <div class="alert alert-success">
        {% for msg in messages %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}

<div id="school-list">
<h3>Schools</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>School name</th>
			<th>Classes of which you are a member</th>
		</tr>
		</tr>
		{% for school in schools %}
		<tr>
			<td>{{ school }}</td>
			<td>
				{% for school_class in school.class_set.all %}
				{{ school_class }}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
</table>
</div>

{% endblock %}
