{% extends "site_base.html" %}

{% block body %}
<div id="new-challenge">
        <h2>Create a Challenge</h2>
        
        <form id="create-challenge">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well">
                        <div class="header">
                            <h5>Choose Topics</h5>
                        </div>  
                        <div id="step-two">
                            <div id="topic-tree-container">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="well">
                        <div id="step-one">
                            {% csrf_token %}
                            <br>
                            <h5>Challenge Name</h5>
                            <input id="challenge_name" 
                                name="challenge_name"
                                type="text"
                                placeholder="Challenge Name"/>
                        
                            <script type="text/javascript">
                                function getSelectedTopicTreeItems() {
                                    var leafnodes = $("span.dynatree-selected a");
                                    var delimitedList = new Array();
                                    for(i=0; i < leafnodes.length; i++) {
                                        if(leafnodes[i].href!="#") {
                                            leafItem = new Array();
                                            leafItem[0] = leafnodes[i].title;
                                            leafItem[1] = leafnodes[i].href;
                                            delimitedList[delimitedList.length] = leafItem;
                                        }
                                    }
                                    return JSON.stringify(delimitedList);
                                }
                            
                                function getNewChallengeData() {
                                    var selectedExercises = getSelectedTopicTreeItems();
                                    var challenge = $("#challenge_name").val();
                                    var token = $('input[name=csrfmiddlewaretoken]').val();
                                    var teams = "";
                                    
                                    $("#selectedTeams option:selected").each(function(){
                                        teams += $(this).val() + "^|^";    
                                    });
                                    var data = { challenge_name: challenge, csrfmiddlewaretoken: token, team_ids: teams, selected_exercises: selectedExercises };
                                    return data;
                                }
                                
                                function addChallenge() { 
                                        $.ajax({
                                           type: "POST",
                                           data: getNewChallengeData(),
                                           url: '/{{user}}/schools/{{school.id}}/{{school_class.id}}/challenge_add',
                                           complete: function(data){
                                               window.location = '/{{user}}/schools/{{school.id}}/{{school_class.id}}';
                                           }
                                        });
                                }
                            </script>
                        </div>          
                        
                        <h5>Teams to Invite</h5>
                        <div id="step-three">
                            <div id="team-selection">
                                <select id="selectedTeams" data-placeholder="Select Something" 
                                    multiple class="chzn-select" style="width:350px;" tabindex="4">
                                {% for team in school_class.teams.all %}
                                    <option value="{{ team.id }}" selected>{{ team }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div>
                            <a class="btn" href="/{{user}}/schools/{{school.id}}/{{school_class.id}}">Cancel</a>
                            <a href="#" onclick="addChallenge()" class="btn btn-primary">Create Challenge</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>

<script type="text/javascript">
    $("#topic-tree-container").load('/khanapi/topic_tree');
</script>
{% endblock %}
