                
                <script>
                    function removeChallenge(challengeId) {
                        var _url = "/{{user}}/remove_challenge/{{school.id}}/{{school_class.id}}/" + challengeId;
                        $.ajax({
                           url: _url,
                           complete: function() {
                               $("#class-challenges").load('/{{user}}/schools/{{school.id}}/{{school_class.id}}/challenges');
                           }
                        });
                    }
                </script>
                
                <h3>Challenges</h3>
                <table class="table table-striped table-condensed">
                    <thead>
                        <th>Challenge Name</th>
                        <th>Teams Participating</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for challenge in challenges.all %}
                        <tr>
                            <td>
                                {{challenge}}
                                <div id="challenge{{challenge.id}}">
                                	
                                </div>
                                <script>
                                	$("#challenge{{challenge.id}}").load('/challenge/{{challenge.id}}/{{school.id}}/{{school_class.id}}');
                                </script>
                            </td>
                            <td>{{ challenge.challenge_groups.all.count }} Groups</td>
                            <td>
                                {% if user.id == challenge.created_by.id %}
                                <a href="#" onclick="removeChallenge({{challenge.id}})">Remove</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr><td colspan="3">&nbsp;</td></tr>
                        
                        <tr>
                            <td colspan="3">
                                <span>
                                    <a href="/{{user}}/{{school.id}}/{{school_class.id}}/add_challenge_form" 
                                    class="btn btn-primary btn-small">Create Challenge</a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

<script type="text/javascript">
	//$("#class-congregation-groups").load('/{{user}}/schools/{{school.id}}/{{school_class.id}}/groups');
</script>
