{% if found_any_unfinished %}
    <script>
        function refreshMyData() {
            $("#unfinished-exercises").load("/{{user}}/unfinished-exercises-nocache");
        }
    </script>
    <div class="row-fluid">
        <div class="well">
            <h4 style="color: #bb0000">ATTENTION: 
                <small>The following Exercises are part of a competition and should be completed as soon as possible!</small>
            </h4>
            <table class="table-striped table-condensed">
               <thead>
                   <th align="left">Challenge</th>
                   <th align="left" colspan="2">Incomplete Exercise</th>
               </thead>
               <tbody>
                   {% for exercise in unfinished_exercises %}
                   <tr>
                       <td>{{exercise.challenge}}</td>
                       <td>{{exercise}}</td>
                       <td><a href="{{exercise.exercise_url}}" target="khan_window">Work on this exercise</a></td>
                   </tr>
                   {% endfor %}
               </tbody>
            </table>
        </div>
    </div>
{% endif %}